.about__title{
    font-weight: 700;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.about__paragraph{
    padding-bottom: 1rem;
}
@media screen and (min-width: 1024px){
    .about__paragraph{
        margin-right: 385px;
    }
}